@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Waterfall&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.row {
  margin: 0;
}

img {
  max-width: 100%;
}

img,
svg {
  vertical-align: middle;
}

/*Animacion firma Footer*/
.svg-elem-1, .svg-elem-2, .svg-elem-3, .svg-elem-4, .svg-elem-5, .svg-elem-6, .svg-elem-7, .svg-elem-8, .svg-elem-9, .svg-elem-10, .svg-elem-11, .svg-elem-12 {
  stroke: #000000;
  stroke-width: 4;
  fill: transparent;
}

.svg-elem-1 {
  stroke-dasharray: 1000px;
  stroke-dashoffset: -1000px;
  -webkit-animation: M-anim 1s linear 0.5s forwards;
          animation: M-anim 1s linear 0.5s forwards;
}

.svg-elem-2 {
  stroke-dasharray: 200px;
  stroke-dashoffset: -200px;
  -webkit-animation: a-anim 1s linear 1.5s forwards;
          animation: a-anim 1s linear 1.5s forwards;
}

.svg-elem-3 {
  stroke-dasharray: 200px;
  stroke-dashoffset: -200px;
  -webkit-animation: u-anim 1s linear 2.5s forwards;
          animation: u-anim 1s linear 2.5s forwards;
}

.svg-elem-4 {
  stroke-dasharray: 200px;
  stroke-dashoffset: -200px;
  -webkit-animation: r-anim 1s linear 3.5s forwards;
          animation: r-anim 1s linear 3.5s forwards;
}

.svg-elem-5 {
  stroke-dasharray: 200px;
  stroke-dashoffset: -200px;
  -webkit-animation: o-anim 1s linear 4s forwards;
          animation: o-anim 1s linear 4s forwards;
}

.svg-elem-6 {
  stroke-dasharray: 900px;
  stroke-dashoffset: -900px;
  -webkit-animation: B-anim 1.3s linear 5.2s forwards;
          animation: B-anim 1.3s linear 5.2s forwards;
}

.svg-elem-7 {
  stroke-dasharray: 200px;
  stroke-dashoffset: -200px;
  -webkit-animation: r2-anim 1s linear 6.5s forwards;
          animation: r2-anim 1s linear 6.5s forwards;
}

.svg-elem-8 {
  stroke-dasharray: 200px;
  stroke-dashoffset: -200px;
  -webkit-animation: a2-anim 1s linear 7.5s forwards;
          animation: a2-anim 1s linear 7.5s forwards;
}

.svg-elem-9 {
  stroke-dasharray: 200px;
  stroke-dashoffset: -200px;
  -webkit-animation: n-anim 1s linear 8.5s forwards;
          animation: n-anim 1s linear 8.5s forwards;
}

.svg-elem-10 {
  stroke-dasharray: 600px;
  stroke-dashoffset: -600px;
  -webkit-animation: d-anim 1s linear 9s forwards;
          animation: d-anim 1s linear 9s forwards;
}

.svg-elem-11 {
  stroke-dasharray: 200px;
  stroke-dashoffset: -200px;
  -webkit-animation: i-anim 1s linear 9.7s forwards;
          animation: i-anim 1s linear 9.7s forwards;
}

.svg-elem-12 {
  stroke-dasharray: 800px;
  stroke-dashoffset: -800px;
  -webkit-animation: line-anim 1s linear 11.1s forwards;
          animation: line-anim 1s linear 11.1s forwards;
}

@-webkit-keyframes M-anim {
  from {
    stroke-dashoffset: -1000px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes M-anim {
  from {
    stroke-dashoffset: -1000px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@-webkit-keyframes a-anim {
  from {
    stroke-dashoffset: -200px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes a-anim {
  from {
    stroke-dashoffset: -200px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@-webkit-keyframes u-anim {
  from {
    stroke-dashoffset: -200px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes u-anim {
  from {
    stroke-dashoffset: -200px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@-webkit-keyframes r-anim {
  from {
    stroke-dashoffset: -200px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes r-anim {
  from {
    stroke-dashoffset: -200px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@-webkit-keyframes o-anim {
  from {
    stroke-dashoffset: -200px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes o-anim {
  from {
    stroke-dashoffset: -200px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@-webkit-keyframes B-anim {
  from {
    stroke-dashoffset: -900px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes B-anim {
  from {
    stroke-dashoffset: -900px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@-webkit-keyframes r2-anim {
  from {
    stroke-dashoffset: -200px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes r2-anim {
  from {
    stroke-dashoffset: -200px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@-webkit-keyframes a2-anim {
  from {
    stroke-dashoffset: -200px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes a2-anim {
  from {
    stroke-dashoffset: -200px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@-webkit-keyframes n-anim {
  from {
    stroke-dashoffset: -200px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes n-anim {
  from {
    stroke-dashoffset: -200px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@-webkit-keyframes d-anim {
  from {
    stroke-dashoffset: -600px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes d-anim {
  from {
    stroke-dashoffset: -600px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@-webkit-keyframes i-anim {
  from {
    stroke-dashoffset: -200px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes i-anim {
  from {
    stroke-dashoffset: -200px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@-webkit-keyframes line-anim {
  from {
    stroke-dashoffset: -800px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes line-anim {
  from {
    stroke-dashoffset: -800px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

.navbar-brand img {
  max-width: 8vw;
}

.containerSecas {
  background: #ff5500;
  background: -webkit-gradient(linear, left top, right top, from(#ff5500), color-stop(50%, #870000));
  background: linear-gradient(90deg, #ff5500 0%, #870000 50%);
}

.containerSecas .row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  overflow-x: hidden;
}

.containerSecas .tituloSecas {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 5vw;
  margin-bottom: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.containerSecas .card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 70%;
}

.containerSecas .card .card-image {
  width: 75%;
}

.containerSecas .card .card-image .card-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.containerSecas .card:hover .card-content,
.containerSecas .card:focus .card-content {
  bottom: 0;
}

.containerSecas .card:hover .card-content h4,
.containerSecas .card:hover .card-content h5,
.containerSecas .card:hover .card-content i,
.containerSecas .card:focus .card-content h4,
.containerSecas .card:focus .card-content h5,
.containerSecas .card:focus .card-content i {
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  opacity: 1;
}

.containerSecas .card .card-content {
  position: absolute;
  bottom: -25rem;
  color: #870000;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(35px);
          backdrop-filter: blur(35px);
  height: 100%;
  -webkit-transition: bottom 0.5s ease-in;
  transition: bottom 0.5s ease-in;
  -webkit-box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.1);
          box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerSecas .card .card-content h4,
.containerSecas .card .card-content h5,
.containerSecas .card .card-content i {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  -webkit-transition: 1.7s;
  transition: 1.7s;
  font-weight: 600;
  font-size: 0.8rem;
  opacity: 0;
  -webkit-transform: translateY(-3rem);
          transform: translateY(-3rem);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  max-width: 90%;
}

.containerSecas .card .card-content h5 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 200;
  letter-spacing: 2px;
}

.containerSecas .publicidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  -webkit-animation: flash 9s linear;
          animation: flash 9s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.containerSecas .publicidadF {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 6.5rem;
  padding-left: 3.5rem;
  -webkit-animation: flash 7s linear;
          animation: flash 7s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media (min-width: 1024px) {
  .containerSecas .publicidad {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerSecas .publicidad .publicidad {
    padding-bottom: 5rem;
  }
}

.containerVarios {
  background: #ff5500;
  background: -webkit-gradient(linear, left top, right top, from(#ff5500), color-stop(50%, #870000));
  background: linear-gradient(90deg, #ff5500 0%, #870000 50%);
  /*EACH*/
  /*SE HACE CON MIXIN PERO SERÍA SEGUN COMENTADO ABAJO CON VARIABLES ES =*/
  /*$ancho: 45%;
  $alto: 23rem;*/
}

.containerVarios .row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  overflow-x: hidden;
}

.containerVarios .tituloVarios,
.containerVarios .tituloSalsas,
.containerVarios .tituloPostres {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 5vw;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.containerVarios .tituloVarios h1,
.containerVarios .tituloSalsas h1,
.containerVarios .tituloPostres h1 {
  font-size: 6vw;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

.containerVarios .quesoRallado-fondo {
  background-image: url("../imagenes/Varios/quesoRallado.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 2rem 0 2rem 0;
  background-color: #ffffff;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .containerVarios .quesoRallado-fondo {
    width: 90%;
    height: 23rem;
  }
}

@media (min-width: 769px) {
  .containerVarios .quesoRallado-fondo {
    width: 45%;
    height: 22rem;
  }
}

.containerVarios .fileto-fondo {
  background-image: url("../imagenes/Varios/fileto.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 2rem 0 2rem 0;
  background-color: #ffffff;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .containerVarios .fileto-fondo {
    width: 90%;
    height: 23rem;
  }
}

@media (min-width: 769px) {
  .containerVarios .fileto-fondo {
    width: 45%;
    height: 22rem;
  }
}

.containerVarios .blanca-fondo {
  background-image: url("../imagenes/Varios/blanca.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 2rem 0 2rem 0;
  background-color: #ffffff;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .containerVarios .blanca-fondo {
    width: 90%;
    height: 23rem;
  }
}

@media (min-width: 769px) {
  .containerVarios .blanca-fondo {
    width: 45%;
    height: 22rem;
  }
}

.containerVarios .cuatroQuesos-fondo {
  background-image: url("../imagenes/Varios/cuatroQuesos.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 2rem 0 2rem 0;
  background-color: #ffffff;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .containerVarios .cuatroQuesos-fondo {
    width: 90%;
    height: 23rem;
  }
}

@media (min-width: 769px) {
  .containerVarios .cuatroQuesos-fondo {
    width: 45%;
    height: 22rem;
  }
}

.containerVarios .bolognesa-fondo {
  background-image: url("../imagenes/Varios/bolognesa.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 2rem 0 2rem 0;
  background-color: #ffffff;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .containerVarios .bolognesa-fondo {
    width: 90%;
    height: 23rem;
  }
}

@media (min-width: 769px) {
  .containerVarios .bolognesa-fondo {
    width: 45%;
    height: 22rem;
  }
}

.containerVarios .pesto-fondo {
  background-image: url("../imagenes/Varios/pesto.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 2rem 0 2rem 0;
  background-color: #ffffff;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .containerVarios .pesto-fondo {
    width: 90%;
    height: 23rem;
  }
}

@media (min-width: 769px) {
  .containerVarios .pesto-fondo {
    width: 45%;
    height: 22rem;
  }
}

.containerVarios .pollo-fondo {
  background-image: url("../imagenes/Varios/pollo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 2rem 0 2rem 0;
  background-color: #ffffff;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .containerVarios .pollo-fondo {
    width: 90%;
    height: 23rem;
  }
}

@media (min-width: 769px) {
  .containerVarios .pollo-fondo {
    width: 45%;
    height: 22rem;
  }
}

.containerVarios .scarparo-fondo {
  background-image: url("../imagenes/Varios/scarparo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 2rem 0 2rem 0;
  background-color: #ffffff;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .containerVarios .scarparo-fondo {
    width: 90%;
    height: 23rem;
  }
}

@media (min-width: 769px) {
  .containerVarios .scarparo-fondo {
    width: 45%;
    height: 22rem;
  }
}

.containerVarios .arrolladoAtun-fondo {
  background-image: url("../imagenes/Varios/arrolladoAtun.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 2rem 0 2rem 0;
  background-color: #ffffff;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .containerVarios .arrolladoAtun-fondo {
    width: 90%;
    height: 23rem;
  }
}

@media (min-width: 769px) {
  .containerVarios .arrolladoAtun-fondo {
    width: 45%;
    height: 22rem;
  }
}

.containerVarios .arrolladoPollo-fondo {
  background-image: url("../imagenes/Varios/arrolladoPollo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 2rem 0 2rem 0;
  background-color: #ffffff;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .containerVarios .arrolladoPollo-fondo {
    width: 90%;
    height: 23rem;
  }
}

@media (min-width: 769px) {
  .containerVarios .arrolladoPollo-fondo {
    width: 45%;
    height: 22rem;
  }
}

.containerVarios .arrolladoVerdura-fondo {
  background-image: url("../imagenes/Varios/arrolladoVerdura.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 2rem 0 2rem 0;
  background-color: #ffffff;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .containerVarios .arrolladoVerdura-fondo {
    width: 90%;
    height: 23rem;
  }
}

@media (min-width: 769px) {
  .containerVarios .arrolladoVerdura-fondo {
    width: 45%;
    height: 22rem;
  }
}

.containerVarios .sandwichMiga-fondo {
  background-image: url("../imagenes/Varios/sandwichMiga.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 2rem 0 2rem 0;
  background-color: #ffffff;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .containerVarios .sandwichMiga-fondo {
    width: 90%;
    height: 23rem;
  }
}

@media (min-width: 769px) {
  .containerVarios .sandwichMiga-fondo {
    width: 45%;
    height: 22rem;
  }
}

.containerVarios .card h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #000000;
  -webkit-text-stroke: 1px #ffffff;
}

.containerVarios .card i {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  -webkit-text-fill-color: #000000;
  text-shadow: -2px -2px 0px #fff, 2px -2px 0px #fff, -2px 2px 0px #fff, 2px 2px 0px #fff;
}

.containerVarios .card h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
  text-shadow: -1px -1px 0px #fff, 1px -1px 0px #fff, -1px 1px 0px #fff, 1px 1px 0px #fff;
}

.containerVarios .publicidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  -webkit-animation: flash 9s linear;
          animation: flash 9s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.containerVarios .publicidadF {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 6.5rem;
  padding-left: 3.5rem;
  padding-bottom: 1rem;
  -webkit-animation: flash 7s linear;
          animation: flash 7s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media (min-width: 1024px) {
  .containerVarios .publicidad {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerVarios .publicidad .publicidad {
    padding-bottom: 8rem;
    padding-top: 1rem;
  }
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

header {
  background: #ffffff;
  padding: 0.1rem 0;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 500;
  text-align: center;
}

.col {
  width: 100%;
}

.nav {
  width: 100%;
  visibility: hidden;
  height: 0;
  position: absolute;
  font-size: 0.8rem;
}

.nav-toggle {
  cursor: pointer;
  border: 2px solid #333333;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: #870000;
  color: rgba(255, 255, 255, 0.55);
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  position: absolute;
  right: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: #ffffff;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.hamburger::after {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.nav--visible {
  visibility: visible;
  height: auto;
  background: #870000;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__list--primary {
  margin-bottom: 2rem;
}

.nav__item {
  font-size: 1.3rem;
}

.nav__link {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.45;
  color: #870000;
}

.containerLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 90vw;
}

.logo img {
  max-width: 9vw;
  margin: 0;
  padding-top: 0.2rem;
}

.leyenda {
  font-family: "Waterfall", sans-serif;
  font-size: 6vw;
  letter-spacing: 0.2rem;
  color: #000000;
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.containerSlider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 100%;
}

.intro-section {
  background: #ff5500;
  background: -webkit-gradient(linear, left top, right top, from(#ff5500), color-stop(50%, #870000));
  background: linear-gradient(90deg, #ff5500 0%, #870000 50%);
  height: 100%;
  max-width: 100vw;
}

.ContainerCarrousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  margin-top: 1rem;
}

.img-slider {
  position: relative;
  width: 90vw;
  height: 30vh;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  -webkit-clip-path: circle(0% at 0 50%);
          clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  -webkit-clip-path: circle(150% at 0 50%);
          clip-path: circle(150% at 0 50%);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-property: -webkit-clip-path;
  transition-property: -webkit-clip-path;
  transition-property: clip-path;
  transition-property: clip-path, -webkit-clip-path;
}

.vid {
  z-index: 1;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px silver;
          box-shadow: 0 0 10px silver;
}

.img-slider .slide img {
  z-index: 1;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px silver;
          box-shadow: 0 0 10px silver;
}

.img-slider .navigation {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
}

.img-slider .navigation .boton {
  background: #870000;
  border: #870000 solid 0.5px;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .boton.active {
  background: #ffffff;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#panza {
  width: 100vw;
}

.promoMes {
  position: relative;
  top: -2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promoMes > h3 {
  display: block;
  font-family: "Waterfall", sans-serif;
  font-size: 14vw;
  font-weight: 900;
  max-width: 100vw;
  /*animacion titulo*/
  -webkit-animation: pulse 1s ease;
          animation: pulse 1s ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.promo_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promo_img img {
  width: 40%;
  -webkit-animation: zoomInUp 3s ease;
          animation: zoomInUp 3s ease;
}

.promocion {
  text-transform: capitalize;
  color: #870000;
  font-family: "Raleway", sans-serif;
  font-size: 5vw;
  font-weight: 900;
  -webkit-animation: zoomInUp 4s ease;
          animation: zoomInUp 4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  text-transform: uppercase;
}

.oferta {
  font-size: 1.6rem;
}

.antes {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  color: #870000;
}

.antes span {
  text-decoration: line-through;
}

.ahora {
  margin-top: 0.5rem;
  font-size: 2rem;
  color: #870000;
  z-index: 50;
}

.contacto {
  color: #870000;
}

#panza1 {
  max-width: 100vw;
  margin-top: -2.5rem;
}

.direccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  max-width: 100vw;
}

.contacto h3 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  font-size: 1.4rem;
  font-weight: 100;
  margin-bottom: 1rem;
  color: #ffffff;
}

.contacto h3 span {
  font-weight: 600;
  font-size: 2rem;
  color: #ffffff;
}

.contacto iframe {
  margin-top: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px silver;
          box-shadow: 0 0 10px silver;
  max-width: 90%;
  max-height: 14rem;
}

.contacto-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  text-align: center;
  border-radius: 5px;
  max-width: 100%;
  padding-bottom: 1rem;
}

.formulario {
  /*EFECTO VIDRIO DELANTE DE UNA IMAGEN*/
  background-color: #ffffff;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  -webkit-box-shadow: 0 0 10px silver;
          box-shadow: 0 0 10px silver;
  max-width: 90%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  margin: 0.8rem;
}

.formulario input {
  width: 70%;
  height: 1.6rem;
  border-radius: 4px;
  border: solid 1px #000000;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  padding-left: 0.5rem;
  display: block;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #870000;
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  color: #870000;
}

textarea::-ms-input-placeholder,
input::-ms-input-placeholder {
  color: #870000;
}

textarea::placeholder,
input::placeholder {
  color: #870000;
}

#nombre,
#correo {
  margin-left: 1.5rem;
  margin-top: 1rem;
}

#select {
  display: inline-block;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  margin-top: 1rem;
}

#select > select {
  margin-left: 1rem;
  height: 1.8rem;
  border-radius: 4px;
  border: solid 0.5px #000000;
  font-weight: 600;
  font-size: 0.8rem;
}

#select option:checked {
  color: #870000;
}

#textA {
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  border: solid 1px #000000;
  font-weight: 600;
  margin-top: 1rem;
}

#newsletter {
  display: block;
  font-size: 0.9em;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

#check {
  width: 1rem;
  display: inline-block;
  position: relative;
  top: 0.5rem;
}

#enviar {
  width: 9.5rem;
  display: inline;
  margin: 1.2rem 0 1rem 1rem;
}

#reset {
  width: 5.5rem;
  display: inline;
}

.redes_container {
  width: 100%;
}

.redes_container ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.redes_container ul li .fa {
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
}

.instagram a,
.whatsapp a {
  display: inline-block;
  font-size: 1.5rem;
  color: #870000;
}

.instagram:hover .fa-instagram {
  margin-top: 1rem;
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.whatsapp:hover .fa-whatsapp {
  margin-top: 1rem;
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*FOOTER*/
.footer {
  max-width: 100vw;
}

.olas {
  max-width: 100%;
  height: 3rem;
  background: #ff5500;
  background: -webkit-gradient(linear, left top, right top, from(#ff5500), color-stop(50%, #870000));
  background: linear-gradient(90deg, #ff5500 0%, #870000 50%);
  position: relative;
  overflow: hidden;
}

.wave {
  top: 75%;
  left: -190%;
  width: 68rem;
  height: 71.5rem;
  background-color: #ffffff;
  position: absolute;
  opacity: 0.7;
  border-radius: 40%;
}

.wave.wave1 {
  -webkit-animation: wave 15s linear -1s infinite;
          animation: wave 15s linear -1s infinite;
}

.wave.wave2 {
  -webkit-animation: wave 18s linear -1s infinite;
          animation: wave 18s linear -1s infinite;
}

.wave.wave3 {
  -webkit-animation: wave 21s linear -1s infinite;
          animation: wave 21s linear -1s infinite;
}

.wave.wave4 {
  -webkit-animation: wave 24s linear -1s infinite;
          animation: wave 24s linear -1s infinite;
}

#final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: #ffffff;
  max-width: 100%;
}

#final h5 {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Waterfall", sans-serif;
  color: #000000;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.firma {
  height: 2rem;
  padding-left: 0.5rem;
}

/*ANIMACION APARECER DESDE LA DERECHA*/
@-webkit-keyframes from-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes from-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

/*ANIMACION APARECER DESDE LA IZQUIERDA*/
@-webkit-keyframes from-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes from-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

/*OLAS DEL FOOTER*/
@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes wave {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*ESTILO PARA RELLENAS, SECAS, VARIOS Y ABOUT SIN EDITAR NI RESPONSIVE*/
/* ESTILO PARA WEBS "ABOUT" */
.sobreNosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20rem;
}

.sobreNosotros h1 {
  font-family: "Raleway", sans-serif;
  color: #870000;
}

/*MEDIA QUERIES*/
@media (min-width: 576px) {
  .ContainerCarrousel {
    height: 16rem;
    margin-top: 0.8rem;
  }
  .img-slider {
    height: 16rem;
    width: 65%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .nav-toggle {
    height: 3rem;
    width: 3rem;
  }
  .leyenda {
    font-size: 8vw;
    margin-left: -1rem;
    max-width: 95%;
  }
  .promoMes {
    top: -4.5rem;
  }
  .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promo_img {
    margin-top: -4rem;
  }
  .promo_img img {
    width: 12.5rem;
    margin-top: 2rem;
    z-index: 25;
  }
  .promocion {
    width: 50%;
    margin-top: -2rem;
  }
  .oferta {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .antes {
    font-size: 1rem;
  }
  .ahora {
    font-size: 1.8rem;
  }
  #panza1 {
    max-width: 100vw;
  }
  .direccion {
    margin-top: -3rem;
    width: 90vw;
  }
  .contacto-form {
    margin-top: -1rem;
    max-width: 100vw;
  }
  .form {
    font-size: 0.95rem;
  }
  .formulario input {
    width: 80%;
    height: 1.4rem;
  }
  #select {
    font-size: 0.8rem;
  }
  #select > select {
    margin-left: 0.5rem;
    height: 1.4rem;
    font-size: 0.6rem;
  }
  #textA {
    width: 80%;
  }
  #newsletter {
    font-size: 0.7em;
  }
  #check {
    width: 0.7rem;
  }
  .instagram a,
  .whatsapp a {
    font-size: 1rem;
  }
  .wave {
    top: 90%;
    left: -55%;
    width: 88rem;
    height: 95rem;
  }
  .card .card-content h4,
  .card .card-content h5,
  .card .card-content i {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .container {
    width: 100vw;
  }
  .nav__link {
    color: #870000;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ContainerCarrousel {
    height: 26rem;
    margin-top: 0;
  }
  .img-slider {
    height: 26rem;
    width: 85%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .vid {
    height: 100%;
  }
  .img-slider .slide img {
    height: 100%;
  }
  #panza {
    width: 100vw;
  }
  .nav-toggle {
    display: none;
  }
  .nav {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: auto;
    position: relative;
    left: 5.5rem;
    width: 85vw;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    font-size: 0.8rem;
  }
  .nav__item {
    margin: 0 1rem 0 1rem;
    font-size: 0.9rem;
  }
  .containerlLogo {
    width: 6rem;
    height: auto;
  }
  .leyenda {
    top: -0.7vh;
    margin-left: 1.2rem;
  }
  .img-slider .navigation .boton {
    width: 1rem;
    height: 1rem;
    margin: 1rem;
  }
  .promo_img {
    margin-top: -3rem;
  }
  .promocion {
    margin-top: -3rem;
  }
  #panza1 {
    display: block;
    max-width: 100vw;
    margin-top: -4.5rem;
  }
  .wave {
    top: 120%;
    left: -50%;
    width: 97rem;
    height: 99rem;
  }
  .card .card-content h4,
  .card .card-content h5,
  .card .card-content i {
    font-size: 0.75rem;
  }
}

@media (min-width: 1024px) {
  .leyenda {
    margin-top: -0.5rem;
  }
  .nav {
    font-size: 1rem;
    width: 85%;
  }
  .nav__item {
    width: 8rem;
    margin: 0 1.5rem 0 1.5rem;
    font-size: 1.1rem;
  }
  .ContainerCarrousel {
    height: 32rem;
    margin-top: 0;
  }
  .img-slider {
    height: 29rem;
    width: 70%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .promoMes {
    top: -6.5rem;
  }
  .promocion {
    margin-top: -4rem;
  }
  .promo_img img {
    width: 19.5rem;
    margin-left: 2.5rem;
  }
  .nav__link--button {
    display: block;
  }
  .oferta {
    font-size: 2.3rem;
  }
  .antes {
    font-size: 1.8rem;
  }
  .ahora {
    font-size: 3rem;
  }
  .direccion {
    max-width: 51%;
  }
  .direccion h3 span {
    margin-top: -4rem;
    font-size: 3rem;
  }
  .direccion h3 {
    font-size: 2rem;
    color: #ffffff;
  }
  .contacto iframe {
    max-width: 75%;
    max-height: 16rem;
  }
  .formulario {
    margin-top: -1rem;
  }
  .form {
    font-size: 1.5rem;
  }
  .formulario input {
    width: 80%;
    height: 2rem;
    padding-left: 0.5rem;
    font-size: 1rem;
  }
  #nombre,
  #correo {
    margin-left: 2.5rem;
  }
  #select {
    font-size: 1.3rem;
  }
  #select > select {
    height: 2rem;
    font-size: 0.9rem;
  }
  #textA {
    font-size: 1.1rem;
  }
  .formulario {
    font-size: 1.6rem;
  }
  #check {
    width: 1rem;
    top: 0.6rem;
  }
  .instagram a,
  .whatsapp a {
    font-size: 1.5rem;
  }
  .wave {
    top: 120%;
    left: -25%;
    width: 95rem;
    height: 98rem;
  }
  .tituloSecas {
    font-size: 5vw;
  }
  .card .card-content h4,
  .card .card-content h5,
  .card .card-content i {
    font-size: 0.9rem;
  }
}

@media (min-width: 1200px) {
  .nav {
    width: 90%;
  }
  .nav__item {
    width: 12rem;
    margin: 0 1rem 0 1rem;
    padding-left: 3.5rem;
    font-size: 1.2rem;
  }
  .ContainerCarrousel {
    height: 30rem;
  }
  .img-slider {
    height: 30rem;
    width: 55%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .wave {
    top: 120%;
    left: -10%;
    width: 95rem;
    height: 98rem;
  }
}

@media (min-width: 1400px) {
  .containerLogo {
    margin-left: -4rem;
  }
  .leyenda {
    margin-left: 5rem;
  }
  .nav {
    width: 90%;
  }
  .nav__list {
    padding-left: 4rem;
  }
  .nav__item {
    width: 12.5rem;
    margin: 0 1.5rem 0 1.5rem;
  }
  .logo img {
    max-width: 12vw;
  }
  .ContainerCarrousel {
    height: 29rem;
    margin-top: 10rem;
  }
  .img-slider {
    height: 29rem;
    width: 60.5%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .promo_img img {
    width: 30rem;
    margin-left: -0.5rem;
  }
}

.wave {
  top: 120%;
  left: 0;
  width: 95rem;
  height: 98rem;
}

.card .card-content h4,
.card .card-content h5,
.card .card-content i {
  font-size: 1.2rem;
}

@media (min-width: 1900px) {
  .container {
    max-width: 1900px;
  }
  .containerLogo {
    margin-left: -10rem;
  }
  .nav__list--primary {
    width: 100vw;
    position: relative;
    left: 12rem;
  }
  .nav__item {
    margin-top: 5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 1.4rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .ContainerCarrousel {
    height: 40rem;
    margin-top: 5rem;
  }
  .img-slider {
    height: 50rem;
    width: 70%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .promoMes {
    margin-top: -5rem;
  }
  .promocion {
    margin-top: -1rem;
  }
  .promo_img img {
    width: 40rem;
    margin-left: -4rem;
  }
  .wave {
    top: 120%;
    left: 10%;
    width: 95rem;
    height: 98rem;
  }
}
/*# sourceMappingURL=estilos.css.map */