.containerAbout {
  background: $colorNaranja;
  background: linear-gradient(90deg, $colorNaranja 0%, $colorPastel 100%);
  .row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    overflow-x: hidden;
    align-items: flex-start;
  }
}
.tituloAbout {
  color: $colorGris;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 5vw;
  margin-bottom: 0;
  align-self: flex-start;
}

.sobreNosotros {
  max-width: 60%;
}

.fotoNosotros {
  object-fit: cover;
}

.textoNosotros {
  color: $colorGris;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2.6vw;
  max-width: 90%;
  text-align: center;
}
.publicidad {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0.5rem 0 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  animation: flash 9s linear;
  animation-iteration-count: infinite;
}

.publicidadF {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 6.5rem 0 3.5rem;
  margin-bottom: 1rem;
  animation: flash 7s linear;
  animation-iteration-count: infinite;
}

@media (min-width: 1024px) {
  .containerAbout .publicidad {
    flex-direction: column;
    .publicidad {
      padding-bottom: 0.5rem;
    }
  }
}
