* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
.row {
  margin: 0;
}

img {
  max-width: 100%;
}

img,
svg {
  vertical-align: middle;
}
/*Animacion firma Footer*/
.svg-elem-1, .svg-elem-2, .svg-elem-3, .svg-elem-4, .svg-elem-5, .svg-elem-6, .svg-elem-7, .svg-elem-8, .svg-elem-9, .svg-elem-10, .svg-elem-11, .svg-elem-12 {
stroke: #000000;
stroke-width: 4;
fill: transparent;
}

.svg-elem-1 {  
  stroke-dasharray: 1000px; 
  stroke-dashoffset: -1000px;
  animation: M-anim 1s linear 0.5s forwards;    
}

.svg-elem-2 {  
  stroke-dasharray: 200px; 
  stroke-dashoffset: -200px;
  animation: a-anim 1s linear 1.5s forwards;  
}

.svg-elem-3 {  
  stroke-dasharray: 200px; 
  stroke-dashoffset: -200px;
  animation: u-anim 1s linear 2.5s forwards; 
}

.svg-elem-4 {  
  stroke-dasharray: 200px; 
  stroke-dashoffset: -200px;
  animation: r-anim 1s linear 3.5s forwards; 
}

.svg-elem-5 {  
  stroke-dasharray: 200px; 
  stroke-dashoffset: -200px;
  animation: o-anim 1s linear 4s forwards;
}

.svg-elem-6 {  
  stroke-dasharray: 900px; 
  stroke-dashoffset: -900px;
  animation: B-anim 1.3s linear 5.2s forwards;
}

.svg-elem-7 {  
  stroke-dasharray: 200px; 
  stroke-dashoffset: -200px;
  animation: r2-anim 1s linear 6.5s forwards;
}

.svg-elem-8 {  
  stroke-dasharray: 200px; 
  stroke-dashoffset: -200px;
  animation: a2-anim 1s linear 7.5s forwards;
}

.svg-elem-9 {  
  stroke-dasharray: 200px; 
  stroke-dashoffset: -200px;
  animation: n-anim 1s linear 8.5s forwards;
}

.svg-elem-10 {  
  stroke-dasharray: 600px; 
  stroke-dashoffset: -600px;
  animation: d-anim 1s linear 9s forwards;
}

.svg-elem-11 {  
  stroke-dasharray: 200px; 
  stroke-dashoffset: -200px;
  animation: i-anim 1s linear 9.7s forwards;
}

.svg-elem-12 {  
  stroke-dasharray: 800px; 
  stroke-dashoffset: -800px;
  animation: line-anim 1s linear 11.1s forwards;
}

@keyframes M-anim {
  from {stroke-dashoffset: -1000px}
  to {stroke-dashoffset: 0px;}  
  }

@keyframes a-anim {
  from {stroke-dashoffset: -200px}
  to {stroke-dashoffset: 0px;}  
    }

@keyframes u-anim {
  from {stroke-dashoffset: -200px}
  to {stroke-dashoffset: 0px;}  
  }

@keyframes r-anim {
  from {stroke-dashoffset: -200px}
  to {stroke-dashoffset: 0px;}  
}
 

@keyframes o-anim {
  from {stroke-dashoffset: -200px}
  to {stroke-dashoffset: 0px;}  
}


@keyframes B-anim {
  from {stroke-dashoffset: -900px}
  to {stroke-dashoffset: 0px;}  
}

@keyframes r2-anim {
  from {stroke-dashoffset: -200px}
  to {stroke-dashoffset: 0px;}  
}

@keyframes a2-anim {
  from {stroke-dashoffset: -200px}
  to {stroke-dashoffset: 0px;}  
}

@keyframes n-anim {
  from {stroke-dashoffset: -200px}
  to {stroke-dashoffset: 0px;}  
}

@keyframes d-anim {
  from {stroke-dashoffset: -600px}
  to {stroke-dashoffset: 0px;}  
}

@keyframes i-anim {
  from {stroke-dashoffset: -200px}
  to {stroke-dashoffset: 0px;}  
}

@keyframes line-anim {
  from {stroke-dashoffset: -800px}
  to {stroke-dashoffset: 0px;}  
}


