.navbar-brand img {
  max-width: 8vw;
}

.containerSecas {
  background: rgb(255, 85, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 85, 0, 1) 0%,
    rgba(135, 0, 0, 1) 50%
  );
  .row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    overflow-x: hidden;
  }
  .tituloSecas {
    color: $colorBlanco;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 5vw;
    margin-bottom: 0;
    align-self: flex-start;
  }
  .card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    align-items: center;
    max-width: 70%;
    .card-image {
      width: 75%;
      .card-image img {
        object-fit: cover;
      }
    }
    &:hover .card-content,
    &:focus .card-content {
      bottom: 0;
    }
    &:hover .card-content h4,
    &:hover .card-content h5,
    &:hover .card-content i,
    &:focus .card-content h4,
    &:focus .card-content h5,
    &:focus .card-content i {
      transform: translateY(1rem);
      opacity: 1;
    }
    .card-content {
      position: absolute;
      width: 100%;
      bottom: -25rem;
      color: $colorRojo;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(35px);
      height: 100%;
      transition: bottom 0.5s ease-in;
      box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.1);
      justify-content: center;
      h4,
      h5,
      i {
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
        transition: 1.7s;
        font-weight: 600;
        font-size: 0.8rem;
        opacity: 0;
        transform: translateY(-3rem);
        transition-delay: 0.2s;
        max-width: 90%;
      }
      h5 {
        transition: 0.5s;
        font-weight: 200;
        letter-spacing: 2px;
      }
    }
  }
  .publicidad {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    animation: flash 9s linear;
    animation-iteration-count: infinite;
  }
  .publicidadF {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 6.5rem;
    padding-left: 3.5rem;
    animation: flash 7s linear;
    animation-iteration-count: infinite;
  }
}

@media (min-width: 1024px) {
  .containerSecas .publicidad {
    flex-direction: column;
    .publicidad {
      padding-bottom: 5rem;
    }
  }
}
