.containerVarios {
  background: $colorNaranja;
  background: linear-gradient(90deg, $colorNaranja 0%, $colorPastel 100%);
  .row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    overflow-x: hidden;
  }

  .tituloVarios,
  .tituloSalsas,
  .tituloPostres {
    color: $colorGris;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 3.5vw;
    align-self: flex-start;
    h1 {
      font-size: 4vw;
      font-family: "Raleway", sans-serif;
      font-weight: 900;
    }
  }

  /*EACH*/

  /*SE HACE CON MIXIN PERO SERÍA SEGUN COMENTADO ABAJO CON VARIABLES ES =*/
  @mixin tamaño($width, $height) {
    width: $width;
    height: $height;
  }

  /*$ancho: 45%;
  $alto: 23rem;*/

  @each $salsa in quesoRallado, fileto, blanca, cuatroQuesos, bolognesa, pesto,
    pollo, scarparo
  {
    .#{$salsa}-fondo {
      background-image: url("../imagenes/Varios/#{$salsa}.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 100%;
      margin: 1rem 0 1rem 0;
      background-color: $colorBlanco;
      border-radius: 20px;
      @media (max-width: 767px) {
        @include tamaño(25% * 3, 13rem);
      }
      @media (min-width: 768px) {
        @include tamaño(43%, 19rem);
      }
    }
  }

  @each $preparados in arrolladoAtun, arrolladoPollo, arrolladoVerdura,
    sandwichMiga
  {
    .#{$preparados}-fondo {
      background-image: url("../imagenes/Varios/#{$preparados}.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 100%;
      margin: 2rem 0 2rem 0;
      background-color: $colorBlanco;
      border-radius: 20px;
      
      @media (max-width: 767px) {
        @include tamaño(25% * 3, 13rem);
      }
      @media (min-width: 768px) {
        @include tamaño(43%, 19rem);
      }
    }
  }

  .card h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #000000;
    -webkit-text-stroke: 1px $colorBlanco;
  }
  .card i {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    -webkit-text-fill-color: #000000;
    text-shadow: -2px -2px 0px #fff, 2px -2px 0px #fff, -2px 2px 0px #fff,
      2px 2px 0px #fff;
  }
  .card h5 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: .8rem;
    color: #000000;
    text-shadow: -1px -1px 0px #fff, 1px -1px 0px #fff, -1px 1px 0px #fff,
      1px 1px 0px #fff;
  }

  .publicidad {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    animation: flash 9s linear;
    animation-iteration-count: infinite;
  }
  .publicidadF {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 6.5rem;
    padding-left: 3.5rem;
    padding-bottom: 1rem;
    animation: flash 7s linear;
    animation-iteration-count: infinite;
  }
}

@media (min-width: 1024px) {
  .containerVarios .publicidad {
    flex-direction: column;
    .publicidad {
      padding-bottom: 8rem;
      padding-top: 1rem;
    }
  }
}
